.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 15px;
  margin-right: 30px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

img {
  width: 80px;
  margin-bottom: 10px;
}

.infosH2 {
  color: #1f2535;
  font-size: 20px;
  margin-bottom: 7px;
}

.infosP {
  color: grey;
  font-size: 15px;
  margin-bottom: 1px;
}
